<fieldset>
    <legend>{{ section_name | escape }}</legend>

    {% for subsection in section %}
        {% if loop.key != 'template' %}

            {% set subsection_name_raw = loop.key %}
            {% set subsection_template = subsection.template | default("subsection") + ".html" %}

            {% for i in subsection.repeat | default([1]) %}
                {% set subsection_name = subsection_name_raw | replace('{i}', i) %}
                {% include subsection_template %}
            {% endfor %}
    
        {% endif %}
    {% endfor %}
</fieldset>
