{% if not (subsection.notitle | default(false)) %}
<h3>{{ subsection_name | escape }}</h3>
{% endif %}

<table>
    {% for field in subsection %}
        {% if loop.key != 'repeat' and loop.key != 'notitle' and loop.key != 'template' %}

            {% set field_label_raw = loop.key %}
            {% set field_template = field.template | default("field") + ".html" %}

            {% for f in field.repeat | default([1]) %}
                {% set field_label = field_label_raw | replace('{i}', i) | replace('{f}', f) %}
                {% set field_name = field.name | replace('{i}', i) | replace('{f}', f) | replace('\s', '_', 'g') | lower %}
                {% set field_help = field.help | replace('{i}', i) | replace('{f}', f) %}

                {% include field_template %}
            {% endfor %}

        {% endif %}
  {% endfor %}
</table>
